@import url('BasicStyle.css');
@manifest url('calcmanifest.xml');

Button			{ background: #aaa; color: #fff; skin: Class( primevc.gui.components.skins.ButtonLabelSkin ); }
Button:hover	{ background: #faa; color: #000; }
Calc 			{ width: 100%; height:100%; algorithm: float-ver; }
ButtonPad {background: #faa; width: 100%; height:100%;algorithm:tile; }


CalcButton 		{ 	height:20%;width:25%;  font-size:40px; }
CalcButton:hover { height: 20%;width:25%;  font-size:40px; }


Display          { 	font-color:#333; background-color:#607760; width: 100%; height:80px;}


Display UITextField { width: 100%; text-align: right; color: #fff; font: Helvetica; font-size:72px;  }




